.not-found {
  background: #0414a7;
  width: 90%;
  margin: auto;
  max-width: 640px;
  padding-top: 10%;

  .neg {
    text-align: center;
    color: #0414a7;

    .bg {
      background: #aaaaaa;
      padding: 0 15px 2px 13px;
    }
  } 
  .title {
    margin-bottom: 50px;
  }
  .nav {
    margin-top: 35px;
    text-align: center;

    .link {
      text-decoration: none;
      padding: 0 9px 2px 8px;

      &:hover,
      &:focus {
        background: #aaaaaa;
        color: #0414a7;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a {
    color: #e0e2f4;
  }

  p {
    font: normal #{20px}/ 1.25rem "VT323", monospace;
  }
  h1 {
    font: normal 2.75rem/1.05em "VT323", monospace;
  }
  h2 {
    font: normal 2.25rem/1.25em "VT323", monospace;
  }
  h3 {
    font: lighter 1.5rem/1.25em "VT323", monospace;
  }
  h4 {
    font: lighter 1.125rem/1.2222222em "VT323", monospace;
  }
}
